@{
    ViewBag.Title = "Inicio";
}
<div class="row justify-content-around">
    <div class="col-sm-11 col-md-5 main-panel d-flex flex-column">
        <h2>Últimas Partidas</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <button class="btn btn-outline-success" type="submit">Ir al historial de partidas</button>
    </div>
    <div class="col-sm-11 col-md-5 main-panel d-flex flex-column">
        <h2>Mayor Winrate</h2>
        <p>
            NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.
        </p>
        <button class="btn btn-outline-success" type="submit">Ir a los campeones con más winrate</button>
    </div>
    <div class="col-sm-11 col-md-6 main-panel d-flex flex-column">
        <h2>Más Utilizados</h2>
        <p>
            You can easily find a web hosting company that offers the right mix of features and price for your applications.
        </p>
        <button class="btn btn-outline-success" type="submit">Ir a los campeones más utilizados</button>
    </div>
    <div class="col-sm-11 col-md-6 main-panel d-flex flex-column">
        <h2>Más Baneados</h2>
        <p>
            You can easily find a web hosting company that offers the right mix of features and price for your applications.
        </p>
        <button class="btn btn-outline-success" type="submit">Ir a los campeones más baneados</button>
    </div>
    <div class="col-sm-11 col-md-6 main-panel d-flex flex-column">
        <h2>Mas Divertidos</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <button class="btn btn-outline-success" type="submit">Ir a los campeones más divertidos</button>
    </div>
</div>