/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

@media (min-width: 768px) {
    .navbar.fixed-left {
        bottom: 0;
        flex-flow: column nowrap;
        align-items: flex-start;
        width: 295px;
    }
}

.navbar.fixed-left {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
}

.navbar-dark {
    color: #f8f9fa;
    background-color: #343a40;
}

@media (min-width: 768px) {
    .collapse:not(.show) {
        display: inline-block !important;
    }
}

@media (min-width: 768px) {
    .navbar-toggler {
        display: none;
    }
}

.navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.mt-2, .my-2 {
    margin-top: 0 !important;
}

.navbar-nav .dropdown-menu {
    position: static !important;
    margin-bottom: 0.5rem;
}

@media (min-width: 768px) {
    .body-content {
        margin-top: 10px !important;
        margin-left: 310px !important;
        margin-right: 15px !important;
    }
}

.body-content {
    margin-top: 65px;
    margin-left: 10px;
    margin-right: 10px;
}

.main-panel {
    border: 2px solid #28a745;
    border-radius: 0.4rem;
    background-color: #666;
}